@page "/animales"
@using CodeChallenge.Entities.Models
@using CodeChallenge.Entities.DTOS
@inject CodeChallenge.Interfaces.IZoologicoServicio _zoologicoServicio
<h3>Animales</h3>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Fecha Ingreso</th>
                <th>Especie</th>
                <th>Edad</th>
                <th>Lugar de Origen</th>
                <th>Peso del animal (Kg)</th>
                <th>Kilos extras de comida por día (Kg)</th>
                <th>Porcentaje de comida (Carne) %</th>
                <th>Porcentaje de comida (Hierbas) %</th>
                <th>Cambio de Piel (días)</th> <!-- Nueva columna para el cambio de piel -->
                <th>Consumo de Comida del animal en el mes en curso(Kg)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in _animales)
            {
                    <tr>
                        <td>@animal.Tipo</td>
                    <td>@animal.FechaIngreso.ToString("dd/MM/yyyy")</td>
                        <td>@animal.Especie</td>
                        <td>@animal.Edad</td>
                        <td>@animal.LugarOrigen</td>
                        <td>@animal.Peso</td>
                        <td>
                            @if (animal is Herbivoro herbivoro)
                            {
                                @herbivoro.Kilos
                            }
                        </td>
                        <td>
                            @if (animal is Carnivoro carnivoro)
                            {
                                @carnivoro.PorcentajeCarne
                            }
                        </td>
                            @if (animal is Reptil reptil)
                            {
                                <td>@reptil.PorcentajeHierba</td>
                                <td>@reptil.DiasCambioDePiel</td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                    <td>@CalcularAlimentoConsumidoPorAnimalMesEnCurso(animal)</td>
                    </tr>
            }
        </tbody>
    </table>
    <tr>
        <td colspan="N">
            <!-- N es el número de columnas en tu tabla, ajusta según tus necesidades -->
            Total mensual de Kg de comidas necesarios: Carne = @_totalComidaPorMes.TotalCarne, Hierba @_totalComidaPorMes.TotalHierba
        </td>
    </tr>
</div>


@code {
    private List<Animal> _animales;
    private TotalAlimentoMensualDTO _totalComidaPorMes;

    protected override Task OnInitializedAsync()
    {
        _totalComidaPorMes = CalcularAlimentoMensualTotal();
        _animales = ObtenerAnimales();
        return base.OnInitializedAsync();
    }

    private List<Animal> ObtenerAnimales()
    {
        return _zoologicoServicio.ObtenerAnimales().Data;
    }

    private TotalAlimentoMensualDTO CalcularAlimentoMensualTotal()
    {
        return _zoologicoServicio.CalcularAlimentoMensualTotal().Data;
    }

    private double CalcularAlimentoConsumidoPorAnimalMesEnCurso(Animal animal)
    {
        return _zoologicoServicio.CalcularDiasConsumidos(animal) * animal.CalcularAlimento();
    }
}
